@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    min-height: 100vh;
    background: url(Images/test-desk.jpeg) no-repeat;
    background-size: cover;
    background-position: center;
}

.h1 {
    position: fixed;
    top: 15%;
    left: center;
    width: 300px;
    height: 80px;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 32px;
    color: white;
    text-decoration: none;
    font-weight: 700;
}

.h2 {
    position: fixed;
    top: center;
    right: center;
    width: 90%;
    height: 90%;
    padding: 0px 0px;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.h2 .div1 a {
    position: fixed;
    display: flex;
    top: 35%;
    left: 15%;
    width: 33%;
    height: 11%;
    color: burlywood;
    justify-content: center;
    align-items: center;
    filter: brightness(80%);
    text-shadow: rgb(0, 0, 0) 1px 0 10px;
    filter: drop-shadow(0 0 0.75rem black);
}

.h2 .div2 a {
    position: fixed;
    display: flex;
    top: 35%;
    right: 15%;
    width: 33%;
    height: 11%;
    color: burlywood;
    justify-content: center;
    align-items: center;
    filter: brightness(80%);
    text-shadow: black 1px 0 10px;
    filter: drop-shadow(0 0 0.75rem black);
}

.h2 .div1 a:hover {
    color: white;
    filter: brightness(110%);
}

.h2 .div2 a:hover {
    color: white;
    filter: brightness(110%);
}

.h2 .div1 .presentation {
    
    background: url(Images/Laura.png) no-repeat;
    background-size: cover;
    background-position: center;
}

.h2 .div1 .portfolio {
    top: 50%;
    background: url(Images/portfolio.png) no-repeat;
    background-size: cover;
    background-position: center;
}

.h2 .div1 .tableaux {
    top: 65%;
    background: url(Images/croquis.png) no-repeat;
    background-size: cover;
    background-position: center;
}

.h2 .div1 .tatouages {
    top: 80%;
    background: url(Images/croquis.png) no-repeat;
    background-size: cover;
    background-position: center;
}

.h2 .div2 .prints {
    background: url(Images/croquis.png) no-repeat;
    background-size: cover;
    background-position: center;
}

.h2 .div2 .croquis {
    top: 50%;
    background: url(Images/croquis.png) no-repeat;
    background-size: cover;
    background-position: center;
}
.h2 .div2 .portraits {
    top: 65%;
    background: url(Images/portraits.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}
.h2 .div2 .ateliers {
    top: 80%;
    background: url(Images/croquis.png) no-repeat;
    background-size: cover;
    background-position: center;
}

